@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-clr {
  background-image: linear-gradient(-47deg, #8731e8 0%, #4528dc 100%);
}

.poppins {
  font-family: poppins, sans-serif;
}

.showNav {
  right: 0;
}

.navLink {
  @apply text-white text-lg cursor-pointer font-semibold my-5 sm:m-0 sm:ml-10 text-left;
}

.btn {
  @apply w-fit gradient-clr py-2.5 px-6 mt-6 text-white font-semibold poppins rounded-md hover:text-green-500 duration-500;
}

@media screen and (min-width: 550px) {
  .fa-xmark {
    display: none !important;
  }
  .fa-bars {
    display: none !important;
  }
}
